{% extends "base.html" %}
{% block body %}
<div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4"></div>
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
        <p><img class="pure-img" src="{{ url_for('hex_out', hexagram='110011') }}"></p>
        <p><a href="{{ url_for('hex_out', hexagram='110011') }}"><pre>/hexagram/110011.png</pre></a>Hexagrams are built from bottom to top.<br />1 renders a solid bar, 0 renders a broken bar.</p>
    </div>

    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
        <p><img class="pure-img" src="{{ url_for('tri_out', trigram='101') }}"></p>
        <p><a href="{{ url_for('tri_out', trigram='101') }}"><pre>/trigram/101.png</pre></a>Trigrams are built from bottom to top.<br /> 1 renders a solid bar, 0 renders a broken bar.</p>
    </div>
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4"></div>
</div>
<div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4"></div>
   <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
        <p><small>Made by <a href="https://twitter.com/urschrei">urschrei</a></small></p>
        <p><small><a href="https://github.com/urschrei/hexagrams">source</a></small></p>
    </div>
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4"></div>
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4"></div>
</div>
{% endblock %}
